<footer class="footer w-100"
    style="padding: 2%; background: black; border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <div class="container text-center">
        <span class="footer_span" style="color: white;">Copirights &copy; Judiciary Information System</span>
    </div>
</footer>